/********
 * Votre CSS
 ********/
@media only screen and (max-width: 600px) {
html{
	height: 100%;

}

html, body {
	margin: 0;
	background-color: #E5E5E5;
	
	font-family: 'Roboto', 'RobotoDraft', sans-serif;
	font-size: 95%;
	
}



.liste {
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: none;
	
    
    
	/*color: #03a9f4;*/
	list-style: none;
	margin: 0;
	padding: 0;
}
    @font-face {
    font-family: 'Shink';
    src: url('Maxeva.otf');
}
    body{
        background: white;
    }
    
    
    img{
cursor: pointer;
        margin-top: 5px;
}

.liste > div {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
	/*background: #666;*/
	cursor: pointer;
	transition: color 200ms ease-in-out;
	/*background-color: #003777;*/
	background-color:#e85e30;
	color:#FFFFFF;
}
.liste > div:hover {
	color:#000000;
	transition: color 200ms ease-in-out;
	
}


.container{
	width: 80%;
	margin: 0 auto;
    }
    div{
        text-align: center;
        
        font-family: Shink;
        font-size: 28px;
       
    }
    a{
        text-decoration: none;
        color: #7B241C;
        
    }
    .listeAutoComplete{
        list-style-type: none;
        font-family: sans-serif;
        font-size: 12px;
        text-align: left;
    }
    .nom_bouteille{
        display: none;
    }
    .nomBouteille{
        display: none;
    }
 



footer
{

	bottom:0px;
	width: 100%;
	
	text-align: center;
	background-color:#ffff;
}
footer p
{
	display:inline;
	padding-right:50px;
	font-size : 10px;
}
}
