

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/cellier.jpg');
    
}




body .demo-blog {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-blog .demo-blog__posts {
    max-width: 900px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.android-be-together-section {
    position: relative;
    height: 600px;
    width: auto;
    background-color: #f3f3f3;

    background-size: cover;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 0.5px black;

}

.vinovino {
    padding-top: 75px;
}

.android-slogan {
    font-size: 30px;
    padding-top: 25px;
    font-weight: 500;
}

.android-sub-slogan {
    font-size: 20px;
    padding-top: 24px;
    font-weight: 400;
}

@media only screen and (min-width: 900px) {

    .button {
        height: 71px;
        width: 370px;
    }

    .btnTexte {
        font-size: 30px;
        padding-top: 25px;
        font-weight: 500;
    }

    .android-slogan {
        font-size: 70px;
        padding-top: 10%;
        font-weight: 500;
    }

    .android-sub-slogan {
        font-size: 30px;
        padding:40px 0  ;
        font-weight: 400;
        
    }
    
    .btnLogin{
         height: 47px;
        width: 143px;
    }
    
    .btnTexteLogin{
        font-size: 25px;
       padding-top: 10px;
        font-weight: 500;
        
    }

}
